<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623597012757-94lsl3oqtij6limcgpmuhv3dn6ptn3be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623597012757-94lsl3oqtij6limcgpmuhv3dn6ptn3be</string>
	<key>API_KEY</key>
	<string>AIzaSyDAjmivXtQB8KuNhS1i1zPq2BWnMewGyiE</string>
	<key>GCM_SENDER_ID</key>
	<string>623597012757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flower-selling-app</string>
	<key>PROJECT_ID</key>
	<string>flowers-f55fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flowers-f55fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623597012757:ios:9b1ed2bf6f56d0c9128b1c</string>
</dict>
</plist>